# Environments
venv/
.venv/
env/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
*.cache
.pytest_cache/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project specific
TestResult/